<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

{% extends "layout.html" %}

{% block title %}
    Entries
{% endblock %}

{% block main %}
    <form action="/tags" method="post">
        <div class="form-group">
            <select multiple class="form-control" name="tag">
                {% for tag in tags:%}
                    <option value={{ tag["tag"] }}>{{ tag["tag"] }}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-primary" type="submit">View Tag</button>
    </form>

    <form action="/newtag" method="post">
        <div class="form-group">
            <input autocomplete="off" class="form-control" name="newtag" placeholder="New Tag" type="text" required>
        </div>
        <button class="btn btn-primary" type="submit">Add New Tag</button>
    </form>
    <p>*Only the first word entered will be recorded as the tag.</p>
{% endblock %}